{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% load widget_tweaks %}
{% block head_title %}
{% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
<div class="container mt-3 text-center">
    <div id="log-in-header">
        <h2>
            {% trans "Log In" %}
        </h2>
    </div>
    <div id="log-in-body">
        <p>
            {% blocktranslate %}If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktranslate %}
        </p>
        <form method="post" action="{% url 'account_login' %}" class="mx-auto w-50" id="log-in-form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {% if field.field.widget.input_type == 'checkbox' %}
                {{ field|add_class:"form-check-input" }}
                {% else %}
                {{ field|add_class:"form-control" }}
                {% endif %}
                {% if field.help_text %}
                <div class="form-text">{{ field.help_text }}</div>
                {% endif %}
                {{ field.errors }}
            </div>
            {% endfor %}
            <div class="col-sm-12 col-lg-6 mx-auto">
                <button type="submit" class="btn btn-success">{% trans "Log In" %}</button>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock content %}