{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block content %}
<section id="password-reset-from-key">
    <div class="container">
        <div class="px-4 py-2 my-2 text-center">
            {% if token_fail %}
            <h2>{% trans "Bad Token"%}</h2>
            {% else %}
            <h2>
                {% trans "Change Password" %}
            </h2>
            {% endif %}
            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>
                {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
            </p>
            {% else %}
            {% element form method="post" action=action_url %}
            {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {% element fields form=form %}
            {% endelement %}
            {% endslot %}
            {% slot actions %}
            {% element button type="submit" name="action" %}
            {% trans 'Change Password' %}
            {% endelement %}
            {% element button type="submit" form="logout-from-stage" tags="link,cancel" %}
            {% translate "Cancel" %}
            {% endelement %}
            {% endslot %}
            {% endelement %}
            {% endif %}
            {% if not cancel_url %}
            <form id="logout-from-stage" method="post" action="{% url 'account_logout' %}">
                <input type="hidden" name="next" value="{% url 'account_login' %}">
                {% csrf_token %}
            </form> {% endif %}
        </div>
    </div>
</section>
{% endblock content %}