{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block content %}
<section id="password-reset-done">
    <div class="container">
        <div class="px-4 py-2 my-2 text-center">
            {% element h1 %}
            {% trans "Password Reset" %}
            {% endelement %}
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            {% element p %}
            {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
            {% endelement %}
        </div>
    </div>
</section>
{% endblock content %}
