{% extends "base.html" %}
{% load allauth i18n widget_tweaks %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<section id="password-change">
    <div class="container">
        <div class="px-4 py-2 my-2 text-center">
            <h1>
                {% trans "Change Password" %}
            </h1>
            <form action="{% url 'account_change_password' %}" method="post" id="change-password-form" class="mx-auto w-50">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{field.label}}</label>
                    {% if field.help_text %}
                    <div class="form-text">{{ field.help_text }}</div>
                    {% endif %}
                    {{ field|add_class:"form-control"}}
                    {{ field.errors }}
                </div>
                {% endfor %}
                <div class="col-sm-12 col-lg-6 mx-auto">
                    <button type="submit" class="btn btn-success">{% trans "Change Password" %}</button>
                    <a class="btn btn-warning" href="{% url 'account_reset_password' %}" aria-label="Click here to reset your password if you have forgotten it.">{% trans "Forgot Password?"%}</a>
                </div>
            </form>
        </div>
        </div>
</section>
{% endblock content %}
