{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<!-- Edit Booking Section -->
<section id="edit-booking">
    <div class="container">
        <div class="col-md-6 mb-3 mt-2 mx-auto text-center">
            <div id="book-tickets-header">
                <h2>Edit Booking for {{ event.event_name }}</h2>
            </div>
            <div id="book-tickets-body">
                <p>
                    Please note tickets are subject to availability.
                </p>
                <p class="text-danger">
                    If you change your number of tickets to be lower, or cancel the booking entirely, more tickets may not be available later.
                </p>
            </div>
            <form method="post" action="{% url 'edit-booking' event.id %}" id="edit-booking-form">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{field.label}}</label>
                    {{ field|add_class:"form-control" }}
                    {% if field.help_text %}
                    <div class="form-text">{{ field.help_text }}</div>
                    {% endif %}
                    {{ field.errors }}
                </div>
                {% endfor %}
                <button id="submit-button" type="submit" class="btn btn-success btn-lg">
                    Edit Booking
                </button>
            </form>
            <form id="delete-form" action="{% url 'delete-booking' booking.id %}" method="post">
                {% csrf_token %}
                <button type="button" class="btn btn-lg btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#cancel-booking-modal">Cancel Booking</button>
            </form>
        </div>
    </div>
</section>
<!-- Delete Confirmation Modal -->
<div id="cancel-booking-modal" class="modal fade" tabindex="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Cancel Booking</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to cancel your booking? This action can not be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Do Not Cancel Booking</button>
                <button id="confirm-delete" type="button" class="btn btn-danger">Cancel Booking</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}