{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<!-- Edit Booking Section -->
<section id="edit-booking">
    <div class="container">
        <div class="col-md-6 mb-3 mt-2 mx-auto text-center">
            <div id="book-tickets-header">
                <h2>Edit Booking for {{ event.event_name }}</h2>
            </div>
            <div id="book-tickets-body">
                <p>
                    Please note tickets are subject to availability - if you lower the number of tickets you have now, they may not be available later.
                </p>
            </div>
            <form method="post" action="{% url 'edit-booking' event.id %}" id="edit-booking-form">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{field.label}}</label>
                    {{ field|add_class:"form-control" }}
                    {% if field.help_text %}
                    <div class="form-text">{{ field.help_text }}</div>
                    {% endif %}
                    {{ field.errors }}
                </div>
                {% endfor %}
                <button id="submit-button" type="submit" class="btn btn-success btn-lg">
                    Edit Booking
                </button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}