{% extends "base.html" %}
{% block content %}
<section id="event-details">
    <div class="container">
        <div class="mx-auto mt-3" id="event-image">
            <img class="img-fluid d-block mx-auto" src="{{ event.image.url }}" alt="{{event.event_name}}">
        </div>
        <div class="row d-flex justify-content-between" id="event-header">
            <div class="mt-3 col-6">
                <h2>{{ event.event_name }}</h2>
                {% if event.is_online %}
                <p class="text-subtitle text-muted fst-italic">Event URL:
                    <a href="{{ event.url_or_address }}">{{ event.url_or_address }}</a>
                </p>
                {% else %}
                <p class="text-subtitle text-muted fst-italic">Event Address: {{ event.url_or_address }}</p>
                {% endif %}
            </div>
            <div class=" mt-3 col-6 text-end">
                <h2>{{event.current_attendees}}/{{event.maximum_attendees}}</h2>
                <p class="text-subtitle text-muted">Places Booked</p>
            </div>
        </div>
        <div id="event-body" class="mt-3 px-2 py-2 border rounded">
            {{ event.long_description|safe }}
        </div>
    </div>
</section>
{% endblock %}