{% extends "base.html" %}
{% block content %}
<!-- My Bookings Section -->
<section id="my-bookings">
    <div class="container mt-2">
        <div id="bookings-header">
            <h2>My Bookings</h2>
            <hr>
        </div>
        <div class="row mb-3 card-group" id="bookings-body">
            {% for booking in bookings %}
            <div class="card col-sm-1 col-md-3 col-lg-4 mx-auto rounded">
                <img src="{{ booking.event.image.url}}" alt="{{ booking.event.event_name }}">
                <div class="ms-3">
                    <h1>{{booking.event.event_name}}</h1>
                    <p class="card-subtitle text-muted">{{ booking.event.event_date}}</p>
                    <p>Number of Tickets: {{booking.tickets}}</p>
                    <p>{{ booking.event.short_description }}</p>
                    <p>
                        <a href="{% url 'event-detail' booking.event.id %}" aria-label="Click here to go to the View Event page for {{ booking.event.event_name }}" class="btn btn-lg btn-success mx-2" aria-label="Click here to view the event page for {{ booking.event.event_name }}">
                            View Event
                        </a>
                    </p>
                </div>
                <div class="card-footer">
                    <p>
                        Last updated on {{ booking.event.updated_on }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Organised Events Section -->
<section id="my-organised-events">
    <div class="container">
        <div id="organised-events-header">
            <h2>My Organised Events</h2>
            <hr>
        </div>
        <div class="row mb-3 card-group" id="events-body">
            {% if not organised_events|length == 0%}
            {% for event in organised_events %}
            <div class="card col-sm-1 col-md-3 col-lg-4 rounded mx-auto">
                <img src="{{ event.image.url}}" alt="{{ event.event_name }}">
                <div class="ms-3">
                    <h1>{{event.event_name}}</h1>
                    <p class="card-subtitle text-muted">{{ event.event_date}}</p>
                    <p>{{ event.short_description }}</p>
                    <p>
                        <a href="{% url 'event-detail' event.id %}" aria-label="Click here to go to the View Event page for {{ event.event_name }}" class="btn btn-lg btn-success mx-2" aria-label="Click here to view the event page for {{ event.event_name }}">
                            View Event
                        </a>
                        {% if user == event.event_organiser %}
                        <a href="{% url 'edit-event' event.id %}" class="btn btn-lg btn-warning mx-2" aria-label="Click here to go to the Edit Event page for {{ event.event_name }}">Edit Event</a>
                        {% endif %}
                    </p>
                </div>
                <div class="card-footer">
                    <p>
                        Last updated on {{ event.updated_on }}
                    </p>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>You don't seem to have any upcoming organised events.</p>
            {% endif %}
        </div>
    </div>
</section>
<!-- Previous Bookings Section -->
{% if not previous_bookings|length == 0 %}
<section id="previous-bookings">
    <div class="container">
        <div id="previous-bookings-header">
            <h2>Your Previous Events - Leave a Review!</h2>
            <hr>
        </div>
        <div class="row mb-3 card-group" id="previous-bookings-body">
            {% for previous_booking in previous_bookings %}
            <div class="card col-sm-1 col-md-3 col lg-4 rounded mx-auto">
                <img src="{{ previous_booking.event.image.url}}" alt="{{ previous_booking.event.event_name }}">
                <div class="ms-3">
                    <h1>{{previous_booking.event.event_name}}</h1>
                    <p class="card-subtitle text-muted">{{ previous_booking.event.event_date}}</p>
                    <p>{{ previous_booking.event.short_description }}</p>
                    <p>
                        <a href="{% url 'event-detail' previous_booking.event.id %}" class="btn btn-lg btn-success mx-2" aria-label="Click here to go to the View Event page for {{ previous_booking.event.event_name }}">
                            View Event
                        </a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
{% endblock content %}