<!-- Latest Events Section -->
    <div class="container">
        <div class="row mx-auto">
            <div class="col">
                <h1 class="text-center">Latest Events</h1>
            </div>
        </div>
        <div class="row mx-auto mt-2 mb-5">
            <div class="carousel slide carousel-fade mb-5" id="latest_events_carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#latest_events_carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First Event"></button>
                    <button type="button" data-bs-target="#latest_events_carousel" data-bs-slide-to="1" aria-label="Second Event"></button>
                    <button type="button" data-bs-target="#latest_events_carousel" data-bs-slide-to="2" aria-label="Third Event"></button>
                    <button type="button" data-bs-target="#latest_events_carousel" data-bs-slide-to="3" aria-label="Fourth Event"></button>
                    <button type="button" data-bs-target="#latest_events_carousel" data-bs-slide-to="4" aria-label="Fifth Event"></button>
                </div>
                <div class="carousel-inner">
                    {% with object_list|first as first_event %}
                    <div class="carousel-item active">
                        <img src=" {{ first_event.image.url }}" alt=" {{ first_event.event_name }}">
                        <div class="carousel-caption bg-dark bg-opacity-75 rounded">
                            <h1>{{ first_event.event_name }}</h1>
                            <p>{{ first_event.current_attendees }} / {{ first_event.maximum_attendees }} Places</p>
                            <p>{{ first_event.event_date}} | {{ first_event.url_or_address }}</p>
                            <p>{{ first_event.short_description}}</p>
                            <p>
                                <a href="#" class="btn btn-lg btn-success mx-2">View Event</a>
                                {% if user == first_event.event_organiser %}
                                <a href="#" class="btn btn-lg btn-warning mx-2">Edit Event</a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    {% endwith %}
                    {% for event in object_list|slice:"1:" %}
                    <div class="carousel-item">
                        <img src=" {{ event.image.url }}" alt=" {{ event.event_name }}">
                        <div class="carousel-caption bg-dark bg-opacity-75 rounded">
                            <h1>{{ event.event_name }}</h1>
                            <p>{{ event.current_attendees }} / {{ event.maximum_attendees }} Places</p>
                            <p>{{ event.event_date}} | {{ event.url_or_address }}</p>
                            <p>{{ event.short_description}}</p>
                            <p>
                                <a href="#" class="btn btn-lg btn-success mx-2">View Event</a>
                                {% if user == event.event_organiser %}
                                <a href="#" class="btn btn-lg btn-warning mx-2">Edit Event</a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    {% endfor%}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#latest_events_carousel" data-bs-slide="prev">
                    <span aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                            <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1" />
                        </svg>
                    </span>
                    <span class="visually-hidden">Previous Event</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#latest_events_carousel" data-bs-slide="next">
                    <span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                            <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1" />
                        </svg></span>
                    <span class="visually-hidden">Next Event</span>
                </button>
            </div>
        </div>
    </div>